@model List<EntityLayer.Concrete.Invoice>

<div class="row container col-md d-flex justify-content-center">
    <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
         <a style="float: right;" asp-action="Create" asp-controller="Invoice"  class="btn btn-outline-success text-right">Yeni Ekle</a>
        <h4 class="card-title">Faturalar</h4>
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr> 
                <th> Fatura Id </th>
                <th> Fatura No </th>
                <th> Ödenecek Tutar</th>
                <th> Ödeme Tipi</th>
                <th> Fatura Sahibi </th>
                <th> Ödeme Tarihi </th>
                <th> Oluşturma Tarihi </th>
                <th> Durum </th>
                <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model )
                    { <tr>
                   
                    <td>@invoice.InvoiceId </td>
                    <td>@invoice.InvoiceNo </td>
                    <td> @invoice.Amount</td>
                    <td> @invoice.PaymentType</td>
                    <td> @invoice.User.Name @invoice.User.Surname </td>
                    <td> @invoice.DueDate.Date.ToString("dd/MM/yyyy")</td>
                    <td> @invoice.billingDate.Date.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if(@invoice.Status==false)
                        {
                            <span>Ödenmedi</span>
                        }
                        else
                        {
                            <span>Ödendi</span>
                        }
                    </td>                    
                    <td>
                        <a asp-action="Edit" asp-controller="Invoice" asp-route-id="@invoice.InvoiceId"  class="btn btn-outline-success">Düzenle</a>
                        <form action="/Invoice/Delete" method="post" style="display:inline;">
                        <input type="hidden" name="InvoiceId" value="@invoice.InvoiceId">
                        <button type="submit"  class="btn btn-outline-danger" >Sil</button>
                            
                        </form>
                    </td> 
                </tr>    
                }               
            </tbody>
            </table> 
        </div>
        </div>
    </div>
    </div>
</div>